<app-vitrine
[isExtendido]="true"
  categoria="1"
  titulo="Panos de Prato"
  txtBotao="Ver tudo"
  (verMais)="verMais()"
></app-vitrine>

<app-vitrine
[isExtendido]="true"
categoria="3"
  titulo="Amigurumi"
  txtBotao="Ver tudo"
  (verMais)="verMais()"
></app-vitrine>

<app-vitrine
[isExtendido]="true"
categoria="2"
  titulo="Tapetes"
  txtBotao="Ver tudo"
  (verMais)="verMais()"
></app-vitrine>


<app-vitrine
[isExtendido]="true"
categoria="4"
  titulo="Kits"
  txtBotao="Ver tudo"
  (verMais)="verMais()"
></app-vitrine>
