<div class="top"></div>

<div class="container">
    <div class="conteudo">
        <div class="pesquisaArea">
            <div class="btPesquisa">
                <img src="btPesquisar.svg" alt="">
            </div>
        </div>
        <div class="tituloArea">
            <span>Flávia Panos De Prato</span>
        </div>
        <div class="redesArea">
            <div class="button">
                <img src="wppButton.svg" alt="">
            </div>

            <div class="button">
                <img src="instaButton.svg" alt="">
            </div>
        </div>
    </div>
</div>
<app-menu></app-menu>